In [1]:
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
results_tables_path = '../results/tables'
target_list = np.array(sorted([target.stem for target in Path(results_tables_path).glob('*.txt')]))

In [3]:
target_list

array(['T1024', 'T1024-D1', 'T1024-D2', 'T1025-D1', 'T1026-D1',
       'T1027-D1', 'T1028-D1', 'T1029-D1', 'T1030', 'T1030-D1',
       'T1030-D2', 'T1031-D1', 'T1032-D1', 'T1033-D1', 'T1034-D1',
       'T1035-D1', 'T1036s1-D1', 'T1037-D1', 'T1038', 'T1038-D1',
       'T1038-D2', 'T1039-D1', 'T1040-D1', 'T1041-D1', 'T1042-D1',
       'T1043-D1', 'T1045s1-D1', 'T1045s2-D1', 'T1046s1-D1', 'T1046s2-D1',
       'T1047s1-D1', 'T1047s2', 'T1047s2-D1', 'T1047s2-D2', 'T1047s2-D3',
       'T1049-D1', 'T1050', 'T1050-D1', 'T1050-D2', 'T1050-D3', 'T1052',
       'T1052-D1', 'T1052-D2', 'T1052-D3', 'T1053', 'T1053-D1',
       'T1053-D2', 'T1054', 'T1054-D1', 'T1055-D1', 'T1056-D1',
       'T1057-D1', 'T1058', 'T1058-D1', 'T1058-D2', 'T1060s2-D1',
       'T1060s3-D1', 'T1061', 'T1061-D1', 'T1061-D2', 'T1061-D3',
       'T1064-D1', 'T1065s1-D1', 'T1065s2-D1', 'T1067-D1', 'T1068-D1',
       'T1070', 'T1070-D1', 'T1070-D2', 'T1070-D3', 'T1070-D4',
       'T1073-D1', 'T1074-D1', 'T1076-D1', 'T1078-D1', 'T1079-D1',
       'T1080-D1', 'T1082-D1', 'T1083-D1', 'T1084-D1', 'T1085',
       'T1085-D1', 'T1085-D2', 'T1085-D3', 'T1086', 'T1086-D1',
       'T1086-D2', 'T1087-D1', 'T1088-D1', 'T1089-D1', 'T1090-D1',
       'T1091', 'T1091-D1', 'T1091-D2', 'T1091-D3', 'T1091-D4', 'T1092',
       'T1092-D1', 'T1092-D2', 'T1093', 'T1093-D1', 'T1093-D2',
       'T1093-D3', 'T1094', 'T1094-D1', 'T1094-D2', 'T1095', 'T1095-D1',
       'T1096', 'T1096-D1', 'T1096-D2', 'T1099-D1', 'T1100', 'T1100-D1',
       'T1100-D2', 'T1101', 'T1101-D1', 'T1101-D2'], dtype='<U10')

In [4]:
target_del_domain_list = np.array([target.split('-')[0] for target  in target_list])

In [5]:
target_del_domain_list

array(['T1024', 'T1024', 'T1024', 'T1025', 'T1026', 'T1027', 'T1028',
       'T1029', 'T1030', 'T1030', 'T1030', 'T1031', 'T1032', 'T1033',
       'T1034', 'T1035', 'T1036s1', 'T1037', 'T1038', 'T1038', 'T1038',
       'T1039', 'T1040', 'T1041', 'T1042', 'T1043', 'T1045s1', 'T1045s2',
       'T1046s1', 'T1046s2', 'T1047s1', 'T1047s2', 'T1047s2', 'T1047s2',
       'T1047s2', 'T1049', 'T1050', 'T1050', 'T1050', 'T1050', 'T1052',
       'T1052', 'T1052', 'T1052', 'T1053', 'T1053', 'T1053', 'T1054',
       'T1054', 'T1055', 'T1056', 'T1057', 'T1058', 'T1058', 'T1058',
       'T1060s2', 'T1060s3', 'T1061', 'T1061', 'T1061', 'T1061', 'T1064',
       'T1065s1', 'T1065s2', 'T1067', 'T1068', 'T1070', 'T1070', 'T1070',
       'T1070', 'T1070', 'T1073', 'T1074', 'T1076', 'T1078', 'T1079',
       'T1080', 'T1082', 'T1083', 'T1084', 'T1085', 'T1085', 'T1085',
       'T1085', 'T1086', 'T1086', 'T1086', 'T1087', 'T1088', 'T1089',
       'T1090', 'T1091', 'T1091', 'T1091', 'T1091', 'T1091', 'T1092',
       'T1092', 'T1092', 'T1093', 'T1093', 'T1093', 'T1093', 'T1094',
       'T1094', 'T1094', 'T1095', 'T1095', 'T1096', 'T1096', 'T1096',
       'T1099', 'T1100', 'T1100', 'T1100', 'T1101', 'T1101', 'T1101'],
      dtype='<U7')

In [6]:
_, index = np.unique(target_del_domain_list, return_index=True)

In [7]:
index

array([  0,   3,   4,   5,   6,   7,   8,  11,  12,  13,  14,  15,  16,
        17,  18,  21,  22,  23,  24,  25,  26,  27,  28,  29,  30,  31,
        35,  36,  40,  44,  47,  49,  50,  51,  52,  55,  56,  57,  61,
        62,  63,  64,  65,  66,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  84,  87,  88,  89,  90,  91,  96,  99, 103, 106, 108,
       111, 112, 115])

In [8]:
target_mqa_list = np.array(target_list)[index]

In [9]:
target_mqa_list

array(['T1024', 'T1025-D1', 'T1026-D1', 'T1027-D1', 'T1028-D1',
       'T1029-D1', 'T1030', 'T1031-D1', 'T1032-D1', 'T1033-D1',
       'T1034-D1', 'T1035-D1', 'T1036s1-D1', 'T1037-D1', 'T1038',
       'T1039-D1', 'T1040-D1', 'T1041-D1', 'T1042-D1', 'T1043-D1',
       'T1045s1-D1', 'T1045s2-D1', 'T1046s1-D1', 'T1046s2-D1',
       'T1047s1-D1', 'T1047s2', 'T1049-D1', 'T1050', 'T1052', 'T1053',
       'T1054', 'T1055-D1', 'T1056-D1', 'T1057-D1', 'T1058', 'T1060s2-D1',
       'T1060s3-D1', 'T1061', 'T1064-D1', 'T1065s1-D1', 'T1065s2-D1',
       'T1067-D1', 'T1068-D1', 'T1070', 'T1073-D1', 'T1074-D1',
       'T1076-D1', 'T1078-D1', 'T1079-D1', 'T1080-D1', 'T1082-D1',
       'T1083-D1', 'T1084-D1', 'T1085', 'T1086', 'T1087-D1', 'T1088-D1',
       'T1089-D1', 'T1090-D1', 'T1091', 'T1092', 'T1093', 'T1094',
       'T1095', 'T1096', 'T1099-D1', 'T1100', 'T1101'], dtype='<U10')

In [10]:
df_array = []
for txt in Path(results_tables_path).glob('*.txt'):
    df = pd.read_csv(txt, delim_whitespace=True)
    if txt.stem in target_mqa_list:
        df['Model'] = [model.split('-')[0] for model in df['Model']]
    df_array.append(df)

In [11]:
score_df = pd.concat(df_array).set_index('Model')
score_df = score_df.drop(['#'], axis=1)
score_df

,GR#,GDT_TS,NP_P,RANK,Z-M1-GDT,Z-MA-GDT,GDT_HA,GDC_SC,GDC_ALL,RMS_CA,...,CONTS,TMscore,Dali(raw),FlexE,QSE,CAD_SS,MolPrb_clash,MolPrb_rotout,MolPrb_ramout,MolPrb_ramfv
Model,,,,,,,,,,,,,,,,,,,,,
T1024TS427_4-D1,427,99.09,100.0,1,NaN,1.83,90.54,71.65,85.22,0.575,...,97.45,0.99,2473.0,0.25,97.85,0.70,2.31,0.65,0.00,98.43
T1024TS427_3-D1,427,96.63,100.0,2,NaN,1.66,83.16,67.55,80.71,0.754,...,97.26,0.98,2456.9,0.25,97.78,0.69,3.63,0.65,0.00,98.43
T1024TS427_2-D1,427,95.86,100.0,3,NaN,1.61,85.62,66.51,80.26,0.833,...,96.49,0.98,2408.8,0.32,97.36,0.68,1.98,0.65,0.00,98.95
T1024TS427_1-D1,427,94.04,100.0,4,1.46,1.49,80.57,61.98,73.05,1.056,...,95.52,0.96,2294.5,0.34,96.88,0.64,1.65,1.94,0.00,98.43
T1024TS427_5-D1,427,93.00,100.0,5,NaN,1.42,77.85,63.58,74.93,0.988,...,97.02,0.97,2410.2,0.26,97.55,0.68,3.96,0.00,0.00,98.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T1101TS340_2,340,10.02,100.0,488,NaN,-2.89,7.91,2.00,4.98,26.184,...,37.47,0.15,NaN,335.25,84.77,0.07,12.09,1.06,1.58,93.99
T1101TS305_2,305s,9.93,100.0,489,NaN,-2.90,6.06,0.67,2.18,24.129,...,40.56,0.19,NaN,263.80,20.83,0.09,173.24,13.83,3.48,89.56
T1101TS151_1,151s,7.24,100.0,490,-2.82,-3.12,3.87,0.85,1.88,23.535,...,27.80,0.16,NaN,113.74,NaN,0.05,34.87,1.77,6.65,80.06
T1101TS151_3,151s,7.24,100.0,490,NaN,-3.12,3.87,0.95,1.88,23.590,...,28.17,0.16,NaN,109.60,NaN,0.05,31.11,3.19,8.54,79.75
T1101TS151_2,151s,7.16,100.0,492,NaN,-3.12,3.79,1.00,1.83,23.565,...,27.76,0.16,NaN,117.19,NaN,0.05,34.68,2.48,8.86,80.70

In [12]:
score_df.to_csv('../data/casp14_res_table.csv')